.contact {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  border: 1px solid;
  display: flex;
  width: 80%;
  height: 70vh;
  justify-content: center;
}

.form-content-left {
  width: 50%;
  padding: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content-right {
  padding: 20px;
  text-align: center;

}

.form-content-right h1 {
  margin-bottom: 20px;
}

.form-content-right .form-inputs {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-img {
  width: 80%;
  height: 70%;
  min-width: 400px;
  min-height: 450px;
}

@media screen and (max-width: 960px) {
  .form-container {
    flex-direction: column;
  }

  .form-content-left {
    margin: 0 auto;
  }
}